:root {
  /**
  * color
  */

  /**
  * primary color
  */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /**
  * neutral color
  */
  --very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

/*--------------------------------*\
  #RESET
\*--------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

html {
  font-family: "Outfit";
  font-size: 18px;
}

/*--------------------------------*\
  #MAIN CONTAINER
\*--------------------------------*/

.container {
  background-color: var(--very-dark-blue-main-BG);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*--------------------------------*\
  #CARD
\*--------------------------------*/

.card {
  width: 340px;
  height: 570px;
  background-color: var(--very-dark-blue-card-BG);
  border-radius: 16px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}

p {
  color: var(--soft-blue);
}

a {
  color: white;
}

a:hover {
  color: var(--cyan);
}

/*--------------------------------*\
  #CARD-IMG
\*--------------------------------*/
.card-img {
  margin: 24px auto;
  width: 292px;
  height: 292px;
  position: relative;
}

.main-img {
  width: 100%;
  border-radius: 10px;
}

.overlay-img {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 292px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 247, 0.6);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.25s;
}

.overlay-img:hover {
  opacity: 1;
  cursor: pointer;
}

/*--------------------------------*\
  #CARD-DETAIL
\*--------------------------------*/
.card-detail {
  margin: 18px 24px;
}

.text-detail {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}

.text-price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.price,
.time {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*--------------------------------*\
  #HR
\*--------------------------------*/

hr {
  margin: 16px 24px;
  border-width: 0px;
  height: 1.5px;
  background-color: var(--very-dark-blue-line);
}

/*--------------------------------*\
  #CARD-AUTHOR
\*--------------------------------*/

.card-author {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 16px 24px;
}

.card-author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: solid white 1.5px;
}

.card-author p {
  font-size: 15px;
}

.card-author span {
  color: white;
}

/*--------------------------------*\
  #HELPER CLASS
\*--------------------------------*/

.font-pm-soft {
  color: var(--soft-blue);
}

.font-pm-cyan {
  color: var(--cyan);
}

.attribution {
  position: absolute;
  bottom: 1%;
  font-size: 11px;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
